* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* nav .container-fluid{
   position: sticky;
   top: 40px;
   background: orangered;
} */
.cart1:hover {
    background-color: black;
}
nav ul a:hover {
    background-color: black;
    border-radius: 5px;
    text-align: center;
}
 .cartIcon {
    position: relative;
    color: white;
    top: 1px;
    right: -10px;
}

.cart-count {
    background: red;
    border-radius: 5px;
    width: 38px;
    height: 40px;
}

i {
    cursor: pointer;
}