* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav a:hover {
    background-color: black;
    border-radius: 5px;
}
 .cartIcon {
    position: relative;
    color: white;
    top: 1px;
    right: -10px;
}

.cart-count {
    background: red;
    border-radius: 5px;
    width: 38px;
    height: 40px;
}

i {
    cursor: pointer;
}